body {
	font-family: poppins;
}

circle {
	fill: steelblue;
}

circle:hover {
	fill: #265780;
}

text {
	font-size: 2em;
}

.tick text {
	fill: #635F5D;
}

.tick line {
	stroke: #C0C0BB;
}